body, ul, li, p {margin: 0px; padding: 0px; list-style: none; font-size: 1.2rem; font-family: 'Roboto Mono', monospace; background: lightslategray;}
a {text-decoration: none; color: whitesmoke;}
.header {background: #1d1e20; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; padding: 20px;}
.Menu {display:flex; background: #1d1e20} 
.Menu li {margin-left: 10px;}
.Menu li a {background: rgb(43, 46, 49); display: block; padding: 10px;}
h1 {text-align: center; text-transform: uppercase;}
p {text-align: justify; padding: 20px;}
.row{display: flex; justify-content: center; align-items: center; 
    }
    .card{
    border-radius: 5px;
    box-shadow: 15px 20px 13px 2px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 300px;
    transition: all 0.3s ease-out;
    }
    .card:hover{
    transform: translateY(-15px);
    cursor: pointer;
    }
    .card p{
    color:#dfdbdb
    }
    .image{
    float:right;
    max-width: 60px;
    max-height: 60px;
    }
    .blue{
    border-left: 3px solid #4595ff;
    }
    .green{
    border-left: 3px solid #3bb54a;    
    }
    .red{
    border-left: 3px solid #b3404d;
    } 

    .rodape {
        background-color: #4595ff;
        text-align: center;
        width: 100%;
        height: 100px;

}